html,
body,
:global(#root) {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    Helvetica, Arial, sans-serif;
  font-size: calc(14px + 1vw);
}
